.header {
    margin-top: 16px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
@media screen and (min-width: 768px) {
    .header {
        margin-top: 28px;
        padding: 0 24px;
    }
}
@media screen and (min-width: 1024px) {
    .header {
        padding: 0 48px; 
    }
}