.footer__copyright {
    padding-top: 48px;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    margin-block: 0;
}
@media screen and (min-width: 768px) {
    .footer__copyright {
        padding: 0;
        line-height: 16px;
    }
}